img{
	    float: right;
	    border-radius: 50%;
	    margin-right:100px;
	    border: 1px solid black;
	    margin-top: -15px;
	}

	#raj{
		margin-left: -100px;
	}
    
	a:hover{
		color: royalblue;
		
	}

	body{
		background-color:whitesmoke;
	}

	#start nav{
		padding-left:50px;
		margin-left: 60px;
	}

	a{
		padding-left: 20px;
	}

	#start{
        
		font-size: 20px;
		display: flex;
		margin-left: 100px;
		margin-left:150px ;
		color: black;
		
	}
	.start2{
		border: 1px solid darkred;
        margin-right:800px;
        align: center;
        border: 0px solid darkred;
        font-size: 25px;
        margin-left: 50px;
        margin-top: 90px;
	}
	#b1{
		
		margin-left:20px;
		border-radius: 10%;
		border-color:royalblue ;
		font-size: 15px;
		background-color: royalblue;
	
	}

	#b2{
		margin-left:30px;
		border-radius: 10%;	
	    border-color:royalblue ;
	    font-size: 15px;

	}
	nav button{
		margin-left: 450px;
		color: white;
		background-color: royalblue;
		border: none;
		font-size: 14px;
		border-radius: 5px;
		padding: 5px 15px ;
		text-decoration: none;


	} 

	button:hover{
		background-color:royalblue;
		color: white;
	}

	#about{
		margin-left: 500px;
		font-size: 40px;

	}

	p{
	font-size: 20px;
	text-align: justify;
	}

#me{

	border: 0px solid red;
	width: 800px;
	margin-left: 200px;
	margin-top: 70px;
}

.arrow{
	background-color: royalblue;
	border-radius:5px;
	height: 30px;
	margin-left:80%;
	display: inline;
	border:px solid black;
}

#skill{
	margin-left: 500px;
	font-size: 40px;

}

#tech{
	border: 0px solid red;
	width: 400px;
	height: 500px;
	margin-left: 140px;
}

hr{
	width: 150px;
	height: 1px;
	color: black;
	margin-left:100px ;
	margin-top: -20px;
}

#prof{
	margin-top: -500px;
	border: 0px solid red;
	width: 400px;
	height: 500px;
	margin-left: 700px;
	margin-right: -500px;
}

#file{
	width: 300px;
	opacity: 0.7;

}

.linkedin{
color:blue;

}
.tube{
	color: red;

}
.twit{
	color:royalblue;

}
.face{
		color: darkblue;
	}
.insta{
	color: orangered;
	
}

#logo{
	border: 0px solid red ;
	width: 400px;
	display: flex;
	margin-top: 70px;
	font-size: 30px;
	margin-left: 50px;
}
i{
	padding-left: 20px;
}
#file2{
	width: 300px;
	accent-color:purple ;
	opacity: 0.7;
}
#dimg_5{
	border: none;
	height: 30px;

	float: left;
}
#dimg_7{
	border: none;
	height: 30px;
	float: left;
}
#dimg_197{
	border: none;
	height: 35px;
	float: left;
	width: 35px;
}
#dimg_7{
	border: none;
	height: 30px;
	float: left;
	width: 30px;
}
#dimg_21{
	border: none;
	height: 30px;
	float: left;
	width: 30px;
}
#contact{
	
	margin-left: 250px;
	font-size: 40px;

}
.tact{
	border: 0px solid red;
	width: 650px;
	margin-left: 20px;
	margin-top: -30px;
}
#dimg_21{
	margin-left: 10px;
	margin-top: -4px;
	background-color: royalblue;
}
#mail{
	margin-left: -112px;
	text-decoration: none;
}
#dimg_2{
	height:30px;
	border: none;
	float: left;
	margin-top: -5px;
	margin-left: 9px;
}
#logo2{
	border: 0px solid red ;
	width: 400px;
	display: flex;
	margin-top: 70px;
	font-size: 30px;
	margin-left: 4px;

}
#num{
	margin-left: -115px;
	text-decoration: none;
}
#check{
	border:0px solid red;
	width: 700px;

}
#msg{
	border: 0px solid red;
	width: 550px;
	height: 480px;	
	margin-left: 750px;
	margin-top: -450px;
	background-color: #F9D8E9;
	text-align: center;
	padding-top: 40px;


}
#div1{
	width: 500px;
	height:30px;
	border-radius:5px ;
	border: none;
	margin: 5px;
	background-color: white;
}
#div2{
	height:200px;
	width: 500px;
	height:175px;
	border-radius:10px ;
	border: none;
	margin: 5px;
	align-items: start;
}
#last{
	width: 400px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 15px;
	border-style: none;
	background-color: royalblue;
	padding: 8px 10px;
}
footer{
	border: 0px solid darkred;
	height: 20px;
	background-color:#0E9383 ;
	font-size: 20px;
	text-align: center;
	padding: 6px;
	color: white;
	width: 100%;
	margin-top: -20px;

}
.arrow4{
	background-color: royalblue;
	height: 30px;
	margin-left:97%;
	margin-top: -50px;
	border-radius: 5px;
	border: 1px solid black;

}